.gradient-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(
    270deg,
    rgba(79, 199, 105, 1) 0%,
    rgba(255, 99, 75, 1) 100%
  );  outline: none;
  border-radius: 5px;
}

.gradient-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -2px; /* Adjust this value to properly align the thumb with the track */
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.gradient-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.gradient-slider {
  position: relative;
  border-radius: 5px;
  transform-style: preserve-3d;

  &::-webkit-slider-runnable-track,
  &::-moz-range-track {
    height: 8px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(216, 216, 216);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(var(--slider-scale));
    z-index: 1;
    pointer-events: none;
  }
}


//Button styling

.button {
  box-shadow: inset 0px -4px 16px 0px rgba(102, 102, 102, 0.83);
  outline: none;
  border: none;
}